<div [formGroup]="formGroup" class="characteristics-container">
  <h3>{{ title }}</h3>

  <mat-radio-group formControlName="gender" class="full-width">
    <label>Gender:</label>
    <mat-radio-button *ngFor="let gender of genders" [value]="gender">{{ gender }}</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Favorite Color</mat-label>
    <input matInput formControlName="favoriteColor">
  </mat-form-field>

  <label>Pets:</label>
  <mat-radio-group formControlName="pets" class="full-width">
    <mat-radio-button [value]="true">Yes</mat-radio-button>
    <mat-radio-button [value]="false">No</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Hair Color</mat-label>
    <mat-select formControlName="hairColor">
      <mat-option *ngFor="let hairColor of hairColors" [value]="hairColor">{{ hairColor }}</mat-option>
    </mat-select>
  </mat-form-field>

  <label>Tattoos:</label>
  <mat-radio-group formControlName="tattoos" class="full-width">
    <mat-radio-button [value]="true">Yes</mat-radio-button>
    <mat-radio-button [value]="false">No</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Sports</mat-label>
    <input matInput formControlName="sports">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Music Genre</mat-label>
    <mat-select formControlName="musicGenres">
      <mat-option *ngFor="let musicGenre of musicGenres" [value]="musicGenre">{{ musicGenre }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>